<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeeklyTask2-動物API</title>
</head>

<body>
    <h1>あなたの相棒を決定します</h1>
    <p>動物を選択してください</p>
    <form action="/selectAnimal" method="post">
        <select name="animals">
            <option>犬</option>
            <option>猫</option>
            <option>狐</option>
        </select>
        <input type="submit" value="選択する">
    </form>
</body>

</html>
